 /* Basic styling for the left panel */
 #left-panel {
     float: left;
     width: 200px;
     background-color: #f1f1f1;
     height: 100vh;
 }

 /* Styling for the links in the left panel */
 #left-panel a {
     display: block;
     padding: 10px;
     text-decoration: none;
     color: #000;
 }

 /* Styling for the active link in the left panel */
 #left-panel a.active {
     background-color: #ccc;
 }

 /* Styling for the content area */
 #content {
     margin-left: 200px;
     /* Width of the left panel */

     padding: 20px;
 }

 .content {
     text-align: center;

 }


 /* --------------------contact----------------------- */
 .contact-us {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.get-in-touch {
    width: 50%;
}

.get-in-touch h2 {
    font-size: 30px;
}

.get-in-touch h4 {
    margin-bottom: 20px;
}

.location {
    display: flex;
}

.location p {
    margin: 2px 0 20px 20px;
}

#contact input {
    padding: 10px 190px 10px 10px;
}

#contact textarea {
    padding: 10px 185px 50px 10px;

}

.email {
    margin-bottom: 20px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* -------------------about----------------- */
.about-head {
    display: flex;
    align-items: center;
}

.about-head img {
    width: 40%;
    height: auto;
}

.about-head div {
    padding-left: 40px;
}

.about-head span{
    color: blue;
} 

